/* Styles pour la vidéo et détection de main */
/* Vidéo de fond */
#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -2;
    object-fit: cover;
    opacity: 0.3; /* Ajustez l'opacité selon vos besoins */
    filter: blur(3px); /* Flou optionnel pour un effet de profondeur */
}

/* Assurez-vous que le canvas est au-dessus */
main {
    position: relative;
    z-index: 1;
}